services:
  auth-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auth-service
    ports:
      - "8080:8080"
    environment:
      HOST: "0.0.0.0"
      PORT: "8080"

      DATABASE_URL: "sqlite:/app/data/auth.db?mode=rwc"

      # openssl rand -hex 32
      JWT_SECRET: "443bcb1f100df62f3f75c7c6932287f42e27d2c494728072379d9c6ea5aef400"
      JWT_EXPIRATION_SECS: "3600"
      JWT_ISSUER: "auth-service"

      RUST_LOG: "info,sqlx=warn"

    volumes:
      - auth-data:/app/data

    restart: unless-stopped

volumes:
  auth-data:
    driver: local
